Advent.Solution/Advent.Solution.Console/bin
Advent.Solution/Advent.Solution.Console/obj
Advent.Solution/Advent.Solution.Day/bin
Advent.Solution/Advent.Solution.Day/obj
Advent.Solution/Advent.Solution.Day001/obj
Advent.Solution/Advent.Solution.Day001/bin
Advent.Solution/Advent.Solution.Day002/obj
Advent.Solution/Advent.Solution.Day002/bin
Advent.Solution/Advent.Solution.Day003/obj
Advent.Solution/Advent.Solution.Day003/bin
Advent.Solution/Advent.Solution.Day004/obj
Advent.Solution/Advent.Solution.Day004/bin
Advent.Solution/Advent.Solution.Day005/obj
Advent.Solution/Advent.Solution.Day005/bin
Advent.Solution/Advent.Solution.Day006/obj
Advent.Solution/Advent.Solution.Day006/bin
Advent.Solution/.idea
