Advent.Solution/Advent.Solution.Console/bin
Advent.Solution/Advent.Solution.Console/obj
Advent.Solution/Advent.Solution.Day/bin
Advent.Solution/Advent.Solution.Day/obj
Advent.Solution/Advent.Solution.Day001/obj
Advent.Solution/Advent.Solution.Day001/bin
Advent.Solution/.idea
